<?xml version="1.0" encoding="UTF-8" ?> 
    <!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mcliu.ssm.web.dao.MenuDao">

	<resultMap type="com.aspire.webbas.portal.common.entity.Menu" id="menuMap">
		<result property="menuId" column="menu_id" />
		<result property="menuName" column="menu_name" />
		<result property="menuKey" column="menu_key" />
		<result property="parentId" column="parent_id" />
		<result property="imageUrl" column="image_url" />
		<result property="url" column="url" />
		<result property="menuOrder" column="menu_order" />
		<result property="subsystem" column="subsystem" />
		<result property="domain" column="domain" />
	</resultMap>

	<select id="listMenu" resultMap="menuMap"
		parameterType="com.aspire.webbas.portal.common.entity.Menu">    
        <![CDATA[
        SELECT  *
        FROM    MENU
        ]]>
		<where>
			1=1
			<if test="menuName != null">
				and menu_name = trim(#{menuName})
			</if>
			<if test="parentId != null">
				and parent_id = #{parentId}
			</if>
		</where>
		order by menu_order
	</select>
	
	<insert id="insert" parameterType="com.aspire.webbas.portal.common.entity.Menu" useGeneratedKeys="true" keyProperty="menuId">
		insert into menu 
		(menu_id, menu_name, menu_key,
		 parent_id, image_url, url,
		 menu_order, subsystem, domain
		)
		values 
		(#{menuId, jdbcType=BIGINT}, #{menuName, jdbcType=VARCHAR}, #{menuKey, jdbcType=VARCHAR},
		 #{parentId, jdbcType=BIGINT}, #{imageUrl, jdbcType=VARCHAR}, #{url, jdbcType=VARCHAR},
		 #{menuOrder, jdbcType=VARCHAR}, #{subsystem, jdbcType=VARCHAR}, #{domain, jdbcType=VARCHAR}
		)
	</insert>
	
	<!-- 批量插入 -->
    <insert id ="insertBatch" parameterType="java.util.List">
        insert into menu 
        (menu_id, menu_name, menu_key,
         parent_id, image_url, url,
         menu_order, subsystem, domain
        )
        values 
        <foreach collection ="list" item="item" index= "index" separator=",">
           (
           #{item.menuId, jdbcType=BIGINT}, #{item.menuName, jdbcType=VARCHAR}, #{item.menuKey, jdbcType=VARCHAR},
           #{item.parentId, jdbcType=BIGINT}, #{item.imageUrl, jdbcType=VARCHAR}, #{item.url, jdbcType=VARCHAR},
           #{item.menuOrder, jdbcType=VARCHAR}, #{item.subsystem, jdbcType=VARCHAR}, #{item.domain, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <delete id="deleteAll">
        delete from menu
    </delete>
</mapper> 
