<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mcliu.ssm.web.dao.SecStaffPasswordMapper" >
  <resultMap id="BaseResultMap" type="com.mcliu.ssm.web.entity.SecStaffPassword" >
    <id column="seq_id" property="seqId" jdbcType="BIGINT" />
    <result column="staff_id" property="staffId" jdbcType="BIGINT" />
    <result column="validate_code" property="validateCode" jdbcType="VARCHAR" />
    <result column="out_date" property="outDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    seq_id, staff_id, validate_code, out_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sec_staff_password
    where seq_id = #{seqId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sec_staff_password
    where seq_id = #{seqId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mcliu.ssm.web.entity.SecStaffPassword" useGeneratedKeys="true" keyProperty="seqId">
    insert into sec_staff_password (seq_id, staff_id, validate_code, 
      out_date)
    values (#{seqId,jdbcType=BIGINT}, #{staffId,jdbcType=BIGINT}, #{validateCode,jdbcType=VARCHAR}, 
      #{outDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mcliu.ssm.web.entity.SecStaffPassword" >
    insert into sec_staff_password
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seqId != null" >
        seq_id,
      </if>
      <if test="staffId != null" >
        staff_id,
      </if>
      <if test="validateCode != null" >
        validate_code,
      </if>
      <if test="outDate != null" >
        out_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seqId != null" >
        #{seqId,jdbcType=BIGINT},
      </if>
      <if test="staffId != null" >
        #{staffId,jdbcType=BIGINT},
      </if>
      <if test="validateCode != null" >
        #{validateCode,jdbcType=VARCHAR},
      </if>
      <if test="outDate != null" >
        #{outDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mcliu.ssm.web.entity.SecStaffPassword" >
    update sec_staff_password
    <set >
      <if test="staffId != null" >
        staff_id = #{staffId,jdbcType=BIGINT},
      </if>
      <if test="validateCode != null" >
        validate_code = #{validateCode,jdbcType=VARCHAR},
      </if>
      <if test="outDate != null" >
        out_date = #{outDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where seq_id = #{seqId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mcliu.ssm.web.entity.SecStaffPassword" >
    update sec_staff_password
    set staff_id = #{staffId,jdbcType=BIGINT},
      validate_code = #{validateCode,jdbcType=VARCHAR},
      out_date = #{outDate,jdbcType=TIMESTAMP}
    where seq_id = #{seqId,jdbcType=BIGINT}
  </update>
</mapper>